@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: 'Cubano';
    src: url('./Cubano.ttf')
}

:root {
    font-family: 'Cubano', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}